head
      {   
         font-size: 25px;     
         font-family: Arial, sans-serif;
         color: #333366;
         text-align: center;
         background-color: skyblye;
      }

h1
      {   
         font-size: 20px;     
         font-family: Arial, sans-serif;
         color: #333366;
         text-align: center;
         background-color: skyblye;
      }

h2
      
      {
         
         font-size: 15px;
         font-family: Arial, sans-serif;
         color: yellow;
         text-align: left;   
         background-color: royalblue;
      
      }

.paragraph {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.paragraph1 {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}






            
